<!DOCTYPE html>
<html>
<head>
  <title>Crear Usuario</title>
</head>
<body>
  <h1>Crear Usuario</h1>
  <form action="/createUsuario" method="post">
    <label for="nombreUsuario">Nombre de Usuario:</label>
    <input type="text" id="nombreUsuario" name="nombreUsuario" required>
    <br>
    <label for="contrasena">Contraseña:</label>
    <input type="password" id="contrasena" name="contrasena" required>
    <br>
    <!-- Otros campos aquí -->
    <button type="submit">Crear Usuario</button>
  </form>
  <p><a href="/">Volver a la página principal</a></p>
</body>
</html>
