<!DOCTYPE html>
<html>

<head>
  <title>gRPC Client</title>
</head>

<body>
  <!-- Formulario para login -->
<div class="form-section">
  <h2>Login</h2>
  <form action="/login" method="post">
    <label for="nombreUsuario">Username:</label>
    <input type="text" id="nombreUsuario" name="nombreUsuario" required>
    <label for="contrasena">Password:</label>
    <input type="password" id="contrasena" name="contrasena" required>
    <button type="submit">Login</button>
  </form>
  <% if (message && !usuario) { %>
    <p><strong>Response:</strong> <%= message %></p>
  <% } %>
</div>


</html>